@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (-webkit-min-device-pixel-ratio:0) {

    .range-input {
        @apply appearance-none w-full hover:text-emerald-500 text-gray-100 bg-transparent;
        /* overflow: hidden; */
        width: 100%;
    }

    .range-input::-webkit-slider-runnable-track {
        @apply h-2 bg-gray-600 rounded-lg overflow-hidden;
    }

    .range-input::-webkit-slider-thumb {
        @apply h-[10px] w-[10px] bg-emerald-500 rounded-full shadow-xl shadow-red-500 hover:bg-amber-500 cursor-pointer mt-[-1px];
        box-shadow: -502px 0 3px 500px;
        -webkit-appearance: none;
        /* Adjust to align the thumb with the track */
    }

    /* .range-input {
        @apply bg-gray-500 rounded-full text-gray-200 hover:text-emerald-300;
        overflow: hidden;
        width: 100%;
        -webkit-appearance: none;
    }

    .range-input::-webkit-slider-runnable-track {
        @apply rounded-full bg-red-500;
        height: 10px;
        -webkit-appearance: none;
        margin-top: -1px;
        background: transparent;
    }

    .range-input::-webkit-slider-thumb {
        @apply shadow-emerald-500 bg-emerald-400 rounded-full cursor-pointer;
        width: 10px;
        -webkit-appearance: none;
        height: 10px;
        background: #434343;
        box-shadow: -500px 0 30px 500px;
    } */

}
